<html>
    <head>
       <title>My Expend</title>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script>
         function add(){
            window.location = 'add';
         }
         function view(){
            window.location = 'view';
         }
       </script>
    </head>
    <body>
       <center>
        <h1>Welcome to MyExpend</h1>
        <button type="button" onclick="add()">Add Transaction</button><br><br>
        <button type="button" onclick="view()">View Transactions</button><br><br>
       </center>
    </body>
 </html>
 
